<script>
// import "./index.css"
</script>

<template>
  <header>
    <Navbar />
  </header>
  <div>
    <!-- <NuxtWelcome /> -->
    <NuxtLoadingIndicator />
    <NuxtPage />
  </div>
  <footer>
    <Footer />
  </footer>
</template>
