@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}
@tailwind components;
@tailwind utilities;

.navbar-style {
  background-color: #00dc82;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

.desc {
  /* position: relative; */
}

.ul-desc {
  /* list-style: inside; */
}

.ul-desc li {
  position: relative;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.div-desc ul li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0.6em;
  width: 8px;
  height: 8px;
  /* background-color: rgb(255, 205, 0); */
  background-color: #00dc82;
  border-radius: 50%;
}
