<template>
  <div
    class="flex justify-center items-center mt-16 sm:mt-16 md:mt-14 lg:mt-16"
  >
    <img class="w-40" src="/img/icon-green.svg" alt="" />
  </div>
  <div>
    <div class="mx-auto px-2 sm:px-0 max-w-2xl lg:text-center mb-24">
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center"
      >
        Bienvenue sur mon application Nuxt
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        [Work in progress 🛠] Le but ici est de mettre en place différents
        concepts de Nuxt. C'est une preuve de concept, un entraînement, une
        démo. J'utilise Tailwind CSS pour le style. Ne soyez pas trop regardant
        concernant le style, ce n'était pas le but ici. Je le ferai plus tard si
        je décide d'y consacrer du temps.
      </p>
    </div>
  </div>
</template>
